<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<p th:text="${person.getFullName() + ', ' + person.getBirthYear()}">VALUE</p>
<p th:text="${person.getPersonId()}">VALUE</p>
<p th:text="${person.getFullName()}">VALUE</p>

<a th:href="@{/people/{id}/edit(id=${person.getPersonId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getPersonId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>